<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <div class="sidebar-nav">
                <ul class="nav navbar-nav">
                    <li>Welcome <%= name.charAt(0).toUpperCase() + name.slice(1) %> </li>
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Edit Profile</a></li>
                    <li><a href="#">View Scorecard</a></li>
                </ul>
            </div>
          </div>
        <div class="col-sm-9">
