<ul class="sidebar navbarr-nav">
        <li class="nav-item">
          <a class="nav-link" href="/profile">
            <i class="fas fa-fw fa-user-circle"></i>
            <span>Profile</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/editprofile">
            <i class="fas fa-fw fa-user-edit"></i>
            <span>Edit Profile</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/scorecard">
            <i class="fas fa-fw fa-table"></i>
            <span>View Scorecard</span></a>
        </li>
      </ul>