<% include partials/header %>
<link rel="stylesheet" href="/css/sidebar.css">
<link rel="stylesheet" href="/css/home.css">
<body>

<% include partials/navbar %>



<div id="wrapper">

        <!-- Sidebar -->
        <% include partials/side %>
    
        <!-- Side navbar finished -->
    
        <div id="content-wrapper">
          <div style="padding-left:50px;padding-right: 50px;" class="container">
            <div class="row">
              <h1 id="name">Add Test</h1>
            </div>
            <form action="/create" method="POST">
                <div class="form-group">
                      <label class="display-4 raleway">Test name</label>
                      <input type="text" class="form-control raleway" placeholder="Enter test name" required name="testname">
                </div>
                <label class="display-4 raleway">Total time :</label>
                <div class="row">
                    
                <div class="form-group col">
                        <input type="number" class="form-control raleway" placeholder="Hours" name="hour" required>
                  </div>
                  <div class="form-group col">
                        <input type="number" class="form-control raleway" placeholder="Minutes" name="min" required>
                  </div>
                </div>
                <label class="display-4 raleway">Marks</label>
                <div class="row">
                    
                  <br><br>
                    <div class="form-group col">
                        <input type="text" class="form-control raleway" placeholder="Enter correct" required name="correct">
                      </div>
                      <div class="form-group col">
                          <input type="text" class="form-control raleway" placeholder="Enter wrong" required name="wrong">
                        </div>
                    </div>

                <div class="row container questions">
                <button type="submit" class="btn btn-primary">Start Adding Questions</button>
                <a href="/home"><button type="button" class="btn btn-danger back">Go Back</button></a>
              </div>
            </form>
             
              </div>
              
          </div>
          
      </div>
    </div>

<% include partials/footer %>