<% include partials/header %>
<link rel="stylesheet" href="/css/sidebar.css">
<link rel="stylesheet" href="/css/home.css">
<body>

<% include partials/navbar %>


<div id="wrapper">

    <!-- Sidebar -->
    <% include partials/side %>

    <!-- Side navbar finished -->

    <div id="content-wrapper">
      <div style="padding-left:50px;padding-right: 50px;" class="container">
        <div class="row">
          <h1 id="name">Add Questions</h1>
        </div>
        <br><br>

        <form action="/create/num" method="POST">
          <div class="form-group">
                <label class="display-4 raleway">Question <%=qnumber%> </label>
                <input type="text" class="form-control raleway" placeholder="Enter question" required name="question">
          </div>
          <input class="invisible" name="qnumber" value=<%=(parseInt(qnumber, 10)+1).toString()%> type="text">
          <div class="row">
                  <div class="col">
                    <input type="text" class="form-control raleway" placeholder="Option 1" required name="op1">
                  </div>
                  <div class="col">
                    <input type="text" class="form-control raleway" placeholder="Option 2" required name="op2">
                  </div>
          </div>
          <br>
          <div class="row">
                  <div class="col">
                    <input type="text" class="form-control raleway" placeholder="Option 3" required name="op3">
                  </div>
                  <div class="col">
                    <input type="text" class="form-control raleway" placeholder="Option 4" required name="op4">
                  </div>
          </div>
          <br>
          <div class="form-group">
            <label class="raleway" style="font-size:30px;">Correct Option</label>
            <div class="wrap-input100 validate-input">
              <select class="form-control input100 form-control-sm raleway" name="ans">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
              </select>
          </div>
      </div>
      <div class="row questions center-button">
          <button type="submit" class="btn btn-primary add">Add</button>
          <button type="submit" class="btn btn-primary" style="visibility:hidden;width:30px;">Add</button>
          <a href="/home"><button class="btn btn-danger finish" type="button">Finish</button></a>
        </div>
      </form> 

          </div>
          
      </div>
      
  </div>
</div>

<% include partials/footer %>