<% include partials/header %>

<body>
<% include partials/navbar %>

<!-- <div class="main">
    <div class="container">
        <div class="main-box">
            <div class="welcome">Welcome to MCQ Portal</div>
            <a href="/login"><button class="btn btn-outline-light">LogIn</button></a>
            <a href="/register"><button class="btn btn-outline-light">SignUp</button></a>
        </div>
    </div>
</div> -->

<!-- Header -->
<header class="masthead">
    <div class="container">
      <div class="intro-text">
        <div class="intro-lead-in">Welcome</div>
        <div class="intro-heading text-uppercase">It's Nice To Meet You</div>
        <a class="btn btn-primary btn-bg text-uppercase" href="/login">Login</a>
        <a class="btn btn-primary btn-bg text-uppercase" href="/register">Register</a>
      </div>
    </div>
</header>


<% include partials/footer %>


