<% include partials/header %>
<link rel="stylesheet" type="text/css"  href="/css/index.css">
<body>
<% include partials/navbar %>

<div class="main">
    <div class="container">
        <div class="main-box">
            <div class="welcome">Welcome to MCQ Portal</div>
            <a href="/login"><button class="btn btn-outline-light">LogIn</button></a>
            <a href="/register"><button class="btn btn-outline-light">SignUp</button></a>
        </div>
    </div>
</div>

<a href="/register">Register</a><br>
<a href="/login">Login</a><br>
<a href="/logout">Logout</a>


<% include partials/footer %>


