<% include partials/header %>
<body>
<% include partials/navbar %>


<div class="limiter">
  <div class="container-login100" style="background-image: url('images/bg-01.jpg');">
    <div style="margin-top:100px;margin-bottom:50px;" class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
      <form class="login100-form validate-form" action="/register" method="POST">
        <span class="login100-form-title p-b-49">
          Register
        </span>

        <div class="wrap-input100 validate-input m-b-23">
          <span class="label-input100">Username</span>
          <input class="input100" type="text" autofocus name="username" autofocus required placeholder="Type your username">
        </div>

        <div class="wrap-input100 validate-input m-b-23">
          <span class="label-input100">Full name</span>
          <input class="input100" type="text" autofocus name="realname" required placeholder="Type your name">
        </div>

        <div class="wrap-input100 validate-input">
          <span class="label-input100">Password</span>
          <input class="input100" type="password" name="password" required placeholder="Type your password">
        </div>
        <br>
        <div class="wrap-input100 validate-input">
          <span class="label-input100">Confirm Password</span>
          <input class="input100" type="password" name="password2" required placeholder="Re-type password">
        </div>
        <br>
        <div class="wrap-input100 validate-input m-b-23">
          <span class="label-input100">Roll Number</span>
          <input class="input100" type="text" name="roll" required placeholder="Type your roll number">
        </div>

        <div class="wrap-input100 validate-input">
          <span class="label-input100">Email</span>
          <input class="input100" type="email" name="email" required placeholder="Type your email">
        </div>
        <br>
        <div class="wrap-input100 validate-input m-b-23">
          <span class="label-input100">College</span>
          <input class="input100" type="text" name="college" required placeholder="Type your college">
        </div>

        <div class="wrap-input100 validate-input">
            <span class="label-input100">Gender</span>
            <select class="form-control input100 form-control-sm" name="gender">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
        </div>
        <br>
        <div class="wrap-input100 validate-input">
          <span class="label-input100">User type</span>
          <select class="form-control input100 form-control-sm" name="type">
              <option value="setter">Setter</option>
              <option value="student">Student</option>
          </select>
      </div>
        
        <br><br>
        
        <div class="container-login100-form-btn">
          <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <button class="login100-form-btn">
              Register
            </button>
          </div>
        </div>
        <br><br><br><br>
        <div class="text-center">
          Or Login Using 
          <div class="container-login100-form-btn">
            <div class="wrap-login100-form-btn">
              <div class="login100-form-bgbtn"></div>
              <a href="/login">
              <button class="login100-form-btn" type="button">
                Log In
              </button>
            </a>
            </div>
          </div>
        </div>
         

      </form>
    </div>
  </div>
</div>



<% include partials/footer %>