<% include partials/header %>
<link rel="stylesheet" href="/css/sidebar.css">
<link rel="stylesheet" href="/css/home.css">
<body>

<% include partials/navbar %>



<div id="wrapper">

        <!-- Sidebar -->
        <ul class="sidebar navbarr-nav">
            <li class="nav-item">
              <a class="nav-link" href="/profile">
                <i class="fas fa-fw fa-user-circle"></i>
                <span>Profile</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/editprofile">
                <i class="fas fa-fw fa-user-edit"></i>
                <span>Edit Profile</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/scorecards">
                <i class="fas fa-fw fa-table"></i>
                <span>View Scorecard</span></a>
            </li>
          </ul>
    
        <!-- Side navbar finished -->
    
        <div id="content-wrapper">
          <div style="padding-left:50px;padding-right: 50px;" class="container">
            <div class="row">
              <h1 id="name">Welcome <%=realname%></h1>
            </div>
    
  
            <br>
            <div class="row text-center">
            <% for (var i = 0; i < tests.length; i++) {%>
                <div class="card col-4">
                  <div class="card-header raleway"><%= tests[i].name %></div>
                  <div class="card-main">
                    <a href="<%= '/scorecards/'+ tests[i].name.toString() %>"><button class="btn card-button raleway">View Test Scorecard</button></a>
                  </div>
                </div>
            <% } %>
        </div>
             
              </div>
              
          </div>
          
      </div>
    </div>

<% include partials/footer %>